*{
    padding: 0;
    margin: 0;   
}

.total{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor-princ{
    width: 1440px;

}

.buscador{
    width: 297px;
    height: 55px;
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
  
   
}
   
.pais{
    width: 138px;
    border: none;
    border-radius: 15px; 
}

.personas{
    display: flex;
    width: 159px;
    height: 55px;
}

.cant-per{
    width: 106px;
    border: 1px solid #F2F2F2;  
}

.botoncito{
    width: 53px;
    border: none;
    background-color: white;
    border-radius: 15px;
    color: red;
}

.contenedor-sec1{
    display: flex;
    justify-content: space-between;
    margin: 50px 70px 0px 70px; 
}

.contenedor-sec2{
    padding: 30px;
}

.tituprim{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
   
}


.contenedor-cart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.lupa{
    color: red;
}